<section class="hero has-text-centered is-justify-content-center is-align-items-center">
  <div class="hero-body">
    {% if title %}
    <p class="title">
      {{ title }}
    </p>
    {% endif %}

    {% if subtitle %}
    <p class="subtitle">
      {{ subtitle }}
    </p>
    {% endif %}

    <form class="subscribe-form" action="https://www.getdrip.com/forms/475128328/submissions" method="post" data-drip-embedded-form="475128328">
      <div class="field has-addons">
        <div class="control is-expanded has-icons-left">
          <input class="input is-medium" type="email" name="fields[email]" placeholder="Email">
            <span class="icon is-medium is-left">
              <i class="fas fa-envelope" ></i>
            </span>
        </div>
        <div class="control">
          <button class="button is-medium is-primary" type="submit" data-drip-attribute="sign-up-button">
            Subscribe
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
