{% extends 'base.html' %}

{% block title %}
{{ config.title }} | {{ section.title }}
{% endblock title %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="has-text-centered">
      <h1 class="title is-2">{{ section.title }}</h1>
      <p class="subtitle is-4">{{ section.description }}</p>
    </div>
    <div class="content">
      {{ section.content | safe }}
    </div>
    <div class="columns is-centered pt-4">
      <div class="column is-9">
        {% if paginator %}
        {% set pages = paginator.pages %}
        {% else %}
        {% set pages = section.pages %}
        {% endif %}

        {% for page in pages %}
        <article class="block">
          <div class="columns is-multiline is-gapless">
            <div class="column is-10">
              <h2 class="title is-4">
                <a class="has-text-dark" href='{{ page.permalink }}' title='{{ page.title }}'>
                  {{ page.title }}
                </a>
              </h2>
            </div>
            <div class="column is-2 has-text-right-desktop">
              <span class="icon">
                <i class="far fa-calendar-alt"></i>
              </span>
              <span>
                <time datetime="{{ page.date }}">{{ page.date | date(format='%m/%d/%Y') }}</time>
              </span>
            </div>
          </div>
        </article>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
